[project]
	description = Objective-C for Windows
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jeyaram Jeyaraj (msft-Jeyaram)
[access "refs/for/refs/*"]
	read = group user/Jeyaram Jeyaraj (msft-Jeyaram)
	push = group user/Jeyaram Jeyaraj (msft-Jeyaram)
	label-Code-Review = -2..+2 group user/Jeyaram Jeyaraj (msft-Jeyaram)
	label-Verified = -1..+1 group user/Jeyaram Jeyaraj (msft-Jeyaram)
	rebase = group user/Jeyaram Jeyaraj (msft-Jeyaram)
	removeReviewer = group user/Jeyaram Jeyaraj (msft-Jeyaram)
	submit = group user/Jeyaram Jeyaraj (msft-Jeyaram)
[access "refs/heads/*"]
	read = group user/Jeyaram Jeyaraj (msft-Jeyaram)
	create = group user/Jeyaram Jeyaraj (msft-Jeyaram)
	push = +force group user/Jeyaram Jeyaraj (msft-Jeyaram)
	pushMerge = group user/Jeyaram Jeyaraj (msft-Jeyaram)
[access "refs/tags/*"]
	push = +force group user/Jeyaram Jeyaraj (msft-Jeyaram)
	pushTag = group user/Jeyaram Jeyaraj (msft-Jeyaram)
	pushSignedTag = group user/Jeyaram Jeyaraj (msft-Jeyaram)
